body{
    color:rgb(27, 18, 102);
    background:rgb(175, 173, 173)
    margin: 0px;
}

header{
    border-bottom: solid 2px rgb(219, 7, 7);
    padding: 20px;
    font-size: 32px;
    color: red;
}
section{ 
  background: rgb(60, 30, 121)
  padding-bottom: 80px
  padding-top: 80px
  display: flex;
  justify-content: center;
  } 